[/File1.txt]
build_metadata.AdditionalFiles.ManifestResourceName = Test.Project1.File1.txt
build_metadata.AdditionalFiles.TargetSourceGenerator = ManifestResourcesGenerator

[/File2.txt]
build_metadata.AdditionalFiles.ManifestResourceName = Test.Project1.File2.txt
build_metadata.AdditionalFiles.TargetSourceGenerator = ManifestResourcesGenerator

[/DirA/File3.txt]
build_metadata.AdditionalFiles.ManifestResourceName = Test.Project1.DirA.File3.txt
build_metadata.AdditionalFiles.TargetSourceGenerator = ManifestResourcesGenerator

[/DirA/DirAA/File4.ini]
build_metadata.AdditionalFiles.ManifestResourceName = Test.Project1.DirA.DirAA.File4.ini
build_metadata.AdditionalFiles.TargetSourceGenerator = ManifestResourcesGenerator

[/DirB/File5.txt]
build_metadata.AdditionalFiles.ManifestResourceName = Test.Project1.DirB.File5.txt
build_metadata.AdditionalFiles.TargetSourceGenerator = ManifestResourcesGenerator
